<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>instagram</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
</head>
<body>
    <div class="sidebar">
        <a href="#" class="logo">
            <img src="../static/image/instagram.jpeg" alt="" >
        </a>
        <div class="profile">
            <div class="profile-img">
                <img src="../static/image/pexels-ali-pazani-2829373.jpg" alt="">
            </div>
            <div class="name">
                <h1>dua lipa</h1>
                <img src="../static/image/sunita-kumari-director.png" alt="">
            </div>
            <span>@lipa</span>
        </div>
        <div class="about">
            <div class="box">
                <h3>54</h3>
                <span>posts</span>
            </div>
            <div class="box">
                <h3>14.4k</h3>
                <span>followers</span>
            </div>
            <div class="box">
                <h3>14</h3>
                <span>following</span>
            </div>
        </div>
        <div class="menu">
            <a href="#" class="active">
                <span class="icon">
                    <i class="ri-function-line"></i>

                </span>
                Feed
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-search-line"></li>

                </span>
                Explore
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-notification-4-line"></li>

                </span>
                Notification
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-mail-unread-fill"></li>

                </span>
                Messages
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-send-plane-fill"></li>

                </span>
                Direct
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-bar-chart-2-fill"></li>

                </span>
                Status
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-settings-5-line"></li>

                </span>
                Settings
            </a>
            <a href="#">
                <span class="icon">
                    <li class="ri-logout-box-r-line"></li>

                </span>
                Logout
            </a>
        </div>
    </div>
    <div class="main-home">
        <div class="header">
            <div class="search">
                <i class="ri-search-line"></i>
                <input type="text" placeholder="Search">
            </div>
            <div class="header-content">
                <i class="ri-notification-4-fill"></i>
                <li class="ri-mail-unread-fill"></li>
                <a href="#" class="btn">
                    <i class="ri-add-circle-fill"></i>
                    <div class="btn-text">Add Photo</div>
                </a>
            </div>
        </div>
        <div class="stories-title">
            <h1>stories</h1>
            <a href="#" class="btn">
                <i class="ri-play-circle-line"></i>
                    <div class="text">Watch all</div>
              
            </a>
        </div>
        <div class="stories">

            <div class="stories-img color">
                <img src="../static/image/pexels-ali-pazani-2829373.jpg" alt="">
                <div class="add">+</div>
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-ali-pazani-2738792.jpg" alt="">
                
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-jansel-ferma-2315302.jpg" alt="">
                
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-вальдемар-2224735.jpg" alt="">
               
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-throughmylifeind-3600142.jpg" alt="">
            
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-karolina-grabowska-7680221.jpg" alt="">
              
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-ali-ramazan-çiftçi-14446254.jpg" alt="">
               
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-lizzie-burton-14601845.jpg" alt="">
              
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-furkanfdemir-7705119.jpg" alt="">
            
            </div>
            <div class="stories-img color">
                <img src="../static/image/pexels-ekaterina-bolovtsova-6607387.jpg" alt="">
               
            </div>
        </div>
        <div class="feed">
            <h1>Feed</h1>
            <div class="feed-text">
                <h2>Latest</h2>
                <span>Popular</span>
            </div>
        </div>
        <div class="main-posts">
            <div class="post-box">
                <img src="../static/image/pexels-furkanfdemir-7705119.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="../static/image/pexels-вальдемар-2224735.jpg" alt=""></div>
                    </div>
                    <h3>marques B</h3>
                </div>
                <div class="likes">
                    <li class="ri-heart-line">
                        <span>84.4k</span>
                        <li class="ri-chat-3-line">
                            <span>88</span>
                        </li>
                    </li>
                </div>
            </div>
            <div class="post-box">
                <img src="../static/image/pexels-karolina-grabowska-7680221.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="../static/image/pexels-ali-pazani-3115655.jpg" alt=""></div>
                    </div>
                    <h3>karolina</h3>
                </div>
                <div class="likes">
                    <li class="ri-heart-line">
                        <span>12k</span>
                        <li class="ri-chat-3-line">
                            <span>108</span>
                        </li>
                    </li>
                </div>
            </div>
            <div class="post-box">
                <img src="../static/image/pexels-lizzie-burton-14601845.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="../static/image/pexels-ali-pazani-2738792.jpg" alt=""></div>
                    </div>
                    <h3>ali-pazani</h3>
                </div>
                <div class="likes">
                    <li class="ri-heart-line">
                        <span>14.2k</span>
                        <li class="ri-chat-3-line">
                            <span>128</span>
                        </li>
                    </li>
                </div>
            </div>
            <div class="post-box">
                <img src="../static/image/pexels-throughmylifeind-3600142.jpg" alt="">
                <div class="post-info">
                    <div class="post-profile">
                        <div class="post-img">
                            <img src="../static/image/pexels-throughmylifeind-3600142.jpg" alt=""></div>
                    </div>
                    <h3>josph</h3>
                </div>
                <div class="likes">
                    <li class="ri-heart-line">
                        <span>24k</span>
                        <li class="ri-chat-3-line">
                            <span>230</span>
                        </li>
                    </li>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>